APP_ENV=dev
SERVER_PORT=:8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=products_db
DB_SSLMODE=disable

JWT_ACCESS_SECRET=your_secret_key
JWT_REFRESH_SECRET=your_secret_refresh_key

JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your password
SMTP_FROM=your_email@gmail.com