.layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: var(--bg);
}

.content {
  flex: 1;
  overflow-y: auto;
  width: min(100%, 42rem);
  margin: 0 auto;

  padding: 1rem 1rem 5.5rem;
}

.fab {
  position: fixed;
  right: 16px;
  bottom: 80px;
  z-index: 10;
}